# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.venv
env/
venv/

# Node / JS
node_modules/
**/node_modules/
dist/
**/dist/
build/
.pytest_cache/

# IDE
.idea